{% csrf_token %}
{% if form.error %}
    <div class="error">Something went wrong</div>
{% endif %}
<div class="page">
    <label class="field a-field a-field_a1">
        {{ form.body }}
    </label>
</div>

<div class="example-1"  style="display: inline-flex">
    <div class="form-group">
        <label class="label">
            <i class="material-icons">attach_file</i>
            <span class="title">Добавить файл</span>
                {{ form.media }}
        </label>
    </div>
</div>
<button class="btn btn-outline-primary" id="enter" type="submit" name="submit">
    <span>Опубликовать</span>
</button>
