{% extends 'wrapper.html' %}

    {% block content %}
        <div>
            <form method="POST" action="" >
                {% csrf_token %}
                {% if error %}
                    <div class="error">Something went wrong</div>
                {% endif %}
                <input type="text" name="body_post" id="body" placeholder="напишите свой пост">
                <button id="enter" type="submit" name="submit">
                    <span>Опубликовать</span>
                </button>
            </form>
        </div>
    {% endblock %}