{% extends 'userprofile/homepage_basic.html' %}

{% block name_page %}
	<meta charset="utf-8"/>
	<title>user profile</title>
{% endblock %}
{% block link %}
{% if user_id != request.user.id %}
	<form class="formFriends" method="POST">
		{% csrf_token %}
		<input type="hidden" id="owner" name="owner" value={{user_id}}>
		<button id="enter" type="submit" name="submit">
			<span>Добавить в друзья</span>
		</button>
	</form>
	<a class="nav-link" href='new_chat/{{ user_id }}'>Написать сообщение</a>
{% endif %}
{% endblock link %}
{% block user_info %}
		<div class='container' id="user_info">
			<div class='avatar'></div>
			<div class='info' id="info">
				<h2>{{ user_data.first_name }}{{user_data.last_name }}</h2>
				<h3>{{ user_data.number_phone }}</h3>
				<h3>{{ user_data.email }}</h3>
			</div>
		</div>
{% endblock %}
{% block data %}
	{% include 'userprofile/post.html' %}
{% endblock %}
