{% extends 'userprofile/homepage_basic.html' %}

    {% block name_page %}
        <meta charset="utf-8"/>
        <title>Список друзей</title>
    {% endblock %}
    {% block data%}
        <div class='container'>
            <ul class="list-group list-group-flush">
                {% for i in friends %}
                    <li class="list-group-item">
                        <img src="{{i.owner.avatar.url }}"  class="mr-3" alt="...">
                        <div class="media-body">
                            <a href="{{i.owner.id}}" style="text-decoration:none">
                                <h5 class="mt-0 mb-1">{{ i.owner.first_name }} {{i.owner.last_name }}</h5>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
  {% endblock%}
