{% load staticfiles %}
    <link href="{% static 'userprofile/post.css' %}" rel="stylesheet">

    {% if request.user.id == user_data.id %}
        <a class="create_button" href="{% url 'post_create' %}" role="button">
            <span>Создать пост</span>
        </a>
    {% endif %}

    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab">
        <ul class="list-group list-group-flush" id="post">
            {% for post in post_list  %}
                <li>
                    <div class="card">
                        <div class="card-header">
                            <a id="owner_post" href={{user_data.id}}>
                                <p class="listFriend">
                                    <img src="{{user_data.avatar.url}}">
                                </p>
                              <h6>{{user_data.first_name}} {{user_data.last_name}}</h6>
                            </a>
                            {% if request.user.id == post.owner_id %}
                                <a id="update" href="{% url 'post_update' id=post.id %}">
                                    <span>↻</span>
                                </a>
                                <a id="delete" href="{% url 'delete_post' post_id=post.id %}">
                                    <span>✗</span>
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body" style="display: flex;">
                            {% if post.media %}
                                <img src="{{post.media.url}}">
                            {% endif %}
                            <p class="card-text" style="max-width:500px;">{{post.body}}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{post.created}}
                                <a href="{% url 'post_comment' id=post.id %}" role="button">
                                <span>Комментировать</span>
                                </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
