{% extends 'userprofile/homepage_basic.html' %}

  {% block name_page %}
    <meta charset="utf-8"/>
    <title>Обновление профиля</title>
  {% endblock %}
  {% block data%}
    <div>
        <form method="POST"  enctype="multipart/form-data" action="{% url "profile_update" id=obj.id %}" >
            {% csrf_token %}
            {% if form.error %}
                <div class="error">Something went wrong</div>
            {% endif %}
            {{form}}
            <button id="enter" type="submit" name="submit">
                <span>Обновить</span>
            </button>
        </form>
    </div>
  {% endblock%}
