{% extends 'wrapper.html' %}

        {% block title %}
		<title>Регистрация</title>
		{% load staticfiles %}
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap.js' %}"></script>
		<link type="text/css" href="{% static 'bootstrap.css' %}" rel="stylesheet">
		<link type="text/css" href="{% static 'reg/reg.css' %}" rel="stylesheet">
		{% endblock title%}

        {% block nav %}
            <nav>
                <a onclick="window.location.href='/'">Вход</a>
            </nav>
        {% endblock nav %}
		{% block content %}

		<div class='formReg'>
			<form class='needs-validation' method="POST" action="registration" enctype="multipart/form-data" novalidate>
				{% csrf_token %}
                <div class="form-group">
                    <label>Имя пользователя</label>
                        {{form.username}}
                    <label>Ваш email адрес</label>
                        {{form.email}}
                    <label>Пароль</label>
                        {{form.password}}
                        <small id="passwordHelp" class="text-danger">
                            Пароль должен быть не менее 8 символов в длинну,
                            содержать буквы верхнего и нижнего регистра.
                        </small>
                    <label>Имя</label>
                        {{form.first_name}}
                    <label>Фамилия</label>
                        {{form.last_name}}
                    <label>Город</label>
                        {{form.city}}
                    <label>Страна</label>
                        {{form.country}}
                    <label>Адрес</label>
                        {{form.address}}
                    <label>Дата рождения</label>
                        {{form.birth}}
                    <label>Пол</label>
                    <div class='form-check' id="form-man">
                        <label style="margin-right:30px">Мужской</label>
                        {{form.man}}
                    </div>
                    <div class='form-check' id="form-woman">
                        <label style="margin-right:30px">Женский</label>
                        {{form.woman}}
                    </div>
                    <label>Номер телефона</label>
                        {{form.number_phone}}
                    <label>Аватарка</label>
                        {{form.avatar}}
                </div>
                <button type='submit' class='btn btn-success'>Подтвердить</button>
                <a class='btn btn-primary' onclick="window.location.href='/'" role='button'>Отмена</a>
			</form>
		</div>
		<script>
			(function (){
				'use strict';
				window.addEventListener('load', function(){
					var forms = document.getElementsByClassName('needs-validation');
					var validation = Array.prototype.filter.call(forms, function(form){
						form.addEventListener('submit', function(event){
							if (form.checkValidity() === false){
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();
		</script>
		{% endblock content %}
    {% block footer %}
        <footer>
            <h6>Курсовой проект для "it-academy"</h6>
            <h5>Автор: Линевич Д.О."</h5>
            <h5>Email: kage726@gmail.com"</h5>
        </footer>
    {% endblock %}
