{% extends 'wrapper.html' %}

        {% block title %}
		<title>Регистрация</title>
		{% load staticfiles %}
		<script src="{% static 'jquery.min.js' %}"></script>
		<script src="{% static 'bootstrap.js' %}"></script>
		<link type="text/css" href="{% static 'bootstrap.css' %}" rel="stylesheet">
		<link type="text/css" href="{% static 'reg/reg.css' %}" rel="stylesheet">
		{% endblock title%}

        {% block nav %}
            <nav>
                <a onclick="window.location.href='/'">Вход</a>
            </nav>
        {% endblock nav %}
		{% block content %}

		<div class='formReg'>
			<form class='needs-validation' method="POST" action="registration" enctype="multipart/form-data" novalidate>
				{% csrf_token %}
				{% for field in form %}
					<div class="form-group">
						{% if field.errors %}
							<div class="alert alert-danger" role="alert">
								{{ field.errors }}
							</div>
						{% endif %}
						{% if field == form.man or  field == form.woman %}
							<div class='form-check' id="form-check">
								<label style="margin-right:30px">{{field.label}}</label>
								{{field}}
							</div>
						{% elif field == form.password %}
							{{ field.label }}
							{{ field }}
							<small id="passwordHelp" class="text-danger">
								Must be 8-20 characters long.
            				</small>
						{% else %}
							{{ field.label }}
							{{ field }}
						{% endif %}
					</div>
				{% endfor %}
				<button type='submit' class='btn btn-success'>Подтвердить</button>
				<a class='btn btn-primary' onclick="window.location.href='/'" role='button'>Отмена</a>
			</form>
		</div>
		<script>
			(function (){
				'use strict';
				window.addEventListener('load', function(){
					var forms = document.getElementsByClassName('needs-validation');
					var validation = Array.prototype.filter.call(forms, function(form){
						form.addEventListener('submit', function(event){
							if (form.checkValidity() === false){
								event.preventDefault();
								event.stopPropagation();
							}
							form.classList.add('was-validated');
						}, false);
					});
				}, false);
			})();
		</script>
		{% endblock content %}
