.photo_upload .btn-tertiary{
    color:#555;
    padding:0;
    line-height:40px;
    width:300px;
    margin:auto;
    display:block;
    border:2px solid #555
}
.photo_upload .btn-tertiary:hover,
.photo_upload .btn-tertiary:focus{
    color:#888;
    border-color:#888
}
.photo_upload .input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}
.photo_upload .input-file + .js-labelFile{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0 10px;
    cursor:pointer
}
.photo_upload .input-file + .js-labelFile .icon:before{content:"\f093"}
.photo_upload .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

.list-photo{
    display: inline-flex;
    margin: 0;
}

.list-photo img{
    border: 2px solid #191818;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.photo-list::-webkit-scrollbar { display: none }
ul.photo-list{
    overflow: scroll;
    height: 650px;
}