{% extends 'userprofile/homepage_basic.html' %}

  {% block name_page %}
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
  {% endblock %}
{% block data %}
  <div id='new-message'>
    {% for el in list_message %}
      <h5>{{ el }}</h5><span>{{ el.author }}</span>
    {% endfor %}
  </div>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<body><h2 id= "user" value="{{request.user.id}}">{{request.user.username}}{{room_name_json}}</h2></body>

<script>
    var roomName = {{ room_name_json }};
    var author = {{ user }}

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data.message['message'];
        var author_message = data.message['author'];
        $('#new-message').append('<h5>'+message+'</h5>'+'<span>'+author_message+'</span>');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'room_id': roomName,
            'author' : author
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}
