{% extends 'wrapper.html' %}
        {% block title %}
        <title>Вход</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'auth/auth.css' %}" type="text/css" >
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC|Slabo+27px&display=swap" rel="stylesheet">
        {% endblock title %}


        {% block content%}
        <div class="form">
            <form class="formAuth">
                <input type="text" id="login" name="login" placeholder="Логин">
                <input type="password" name="password" id="password" placeholder="Пароль">
                <button id="enter" type="submit" name="submit">
                    <span>Вход</span>
                </button>
                <a id="singin" onclick="window.location.href='registration'">
                    <span>Регистрация</span>
                </a>
            </form>
        </div>
        {% endblock %}